<!DOCTYPE html>   
<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Login Page </title>  
<script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
</head>    
<body>   
    <h1>Home</h1>
    
    <div id="response">
        <div id="response-header"><h3>Response:</h3></div>
        <div id="response-content"></div>
    </div>
</body>     
</html>  